* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 60px;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  position: fixed;
  transform: translateY(70%);
  border-radius: 15px;
  background: #444;
  transition: all 0.2s ease;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.sub {
  display: none;
  position: absolute;
  transform: translateX(-220%) translateY(55%);
}
ul {
  list-style: none;
  color: #141414;
}

#nav1 {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  flex-direction: column;
  align-items: center;

}

#nav1 li {
  display: flex;
  background-color: #fff;
  padding: 10px;
}
.menu a:hover {
  background: #db8708;
  border-radius: 10px;
}
.hidden {
  opacity: 0;
  transform: translateX(-50%);
  filter: blur(5px);
  transition: 0.5s;
}
.show {
  opacity: 1;
  transform: translateX(0%);
  filter:blur(0px);
}

.menu li {
  display: flex;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
  align-items: center;
}
.menu img {
  display: block;
}


#nav1 {
  display: none;
}

.nos {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  
}
.sub {
  display: none;
  background-color: #444;
  padding: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu.active + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
  color: #f16234;
}

#checkbox-menu.active  + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu.active  + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}


.decoracao {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  border-radius: 0px 0px 50px 50px;
  background: linear-gradient(90deg, #b55700 50%, #ffc700 100%);
}
.imagem_de_fundo {
  top: 0;
  background-image: url("../imagens/background-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0rem;
}
.slogan {
  color: #eee;
  width: 150%;
  display: flex;
  justify-content: flex-start;
}
.slogan p {
  display: flex;
  font-size: 46px;
  width: 150%;
  justify-content: flex-start;
  color: #141414;
}

.logo img {
  max-width: 540px;
  max-height: 340px;
}

.colored {
  /* background: #333; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  /* position: relative !important; */
  transform: translateY(5%);
}

/* DANI */

.container-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.titulo-form h1 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #b45600;
}

form {
  width: 50%;
  background-color: #ffc700;
  border-radius: 15px;
}

fieldset {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  padding: 8%;
  border: none;
}

input {
  border: none;
  border-radius: 5px;
  color: #938c8c;
}

.assunto-form1 .opcoes,
.assunto-form2 .opcoes {
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  color: #444444;
  display: flex;
  margin: 0.5em auto 0.5em;
  gap: 2px;
}

.container-assunto {
  display: flex;
}

input[type="radio"] {
  accent-color: #b45600;
}

.nome-form input,
.email-form input,
.telefone-form input {
  width: 60%;
  padding: 3px;
}

.nome-form,
.email-form,
.telefone-form {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #444444;
}

.container-assunto-e-titulo {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #444444;
  gap: 25px;
  
}
.container-assunto{
  display: flex;
  width: 100%;
  gap: 100px;
  justify-content: flex-start;
}

.opcoes{
  width: 50%;
  height: auto;
}

.assunto{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.assunto-form1, .assunto-form2{
  width: 20%;
}
.mensagem-form {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #444444;
}

.mensagem-form textarea {
  border-radius: 10px;
}

#enviar {
  text-align: center;
}

#enviar input {
  border: 2px solid #623205;
  outline: none;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
  background: #b45600;
  color: #eac8a9;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  text-align: center;
  box-shadow: 0px 4px 8px #444444;
  cursor: pointer; /* Adicionado cursor pointer para indicar que é clicável */
}

#enviar input:hover {
  background-color: #623205;
  transform: scale(1.05);
}

#enviar input:active {
  transform: scale(0.95);
  box-shadow: none;
}

textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  transition: 700ms;
}

#mapa {
  margin-bottom: 1%;
}
/* FINAL DANI */

#menu-baixo {
  height: 450px;
  width: 100%;
  display: flex;
  background-color: #1e1e1e;
  color: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.logo-rodape {
  display: flex;
}

.sobre .container-sobre {
  display: flex;
}
.container {
  display: flex;
}
.menu-links {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

.menu-links ul {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.menu-links ul a {
  color: #fff;
  text-decoration: none;
}

.titulo-rodape {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: none;
  align-items: center;
  flex-wrap: nowrap;
}
.titulo-rodape ul {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
}

/* responsivo */

/* Celular */
@media only screen and (max-width: 550px) {
  nav {
    position: absolute;
  }
  .menu .servico {
    display: none;
  }
  .menu li > a {
    display: none;
  }
  .nav-toggle {
    width: 80%;
    height: 24px;
    display: flex;
  }

  #nav1 {
    width: 20%;
    height: 36px;
    display: flex;
    transform: translateX(180%) translateY(30%);
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
     overflow-y: visible;
  }



  #menu{
    margin-top: 22px;
    transform: translateX(-17%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

 #menu li {
  background: #444;
 }

  #header .logo img {
    max-width: 80%;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    height: 40vh;
    flex-direction: column-reverse;
    margin-top: 15%;
    margin-left: -5%;
    justify-content: center;
    align-items: center;
  }

  .slogan p {
    width: 50%;
    font-size: 24px;
    margin-top: 5px;
  }

  .slogan img {
    width: 60%;
    border-radius: 15px;
  }
  .logo img{
    width: 100%;
    height: 100%;
    
  }

  form {
    width: 95%;
  }

  .nome-form input,
  .email-form input,
  .telefone-form input {
    width: 50%;
  }

  .container-assunto-e-titulo {
    gap: 25px;
  }
  .opcoes {
    margin: 0.5em auto 0.5em;
    gap: 2px;
  }
}

/* Tablet */
@media only screen and (min-width: 550px) {
  .menu li > a {
    display: none;
  }
  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(20%) translateY(80%);
  }

  #nav1 {
    width: 12%;
    height: 30px;
    display: flex;
    transform: translateX(360%) translateY(40%);
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
     overflow-y: visible;
  }

 

  #menu{
    margin-top: 29px;
    transform: translateX(-16%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

 #menu li {
  background: #444;
 }

  .slogan img {
    max-width: 320px;
  }

  .logo img{
    width: 70%;
    height: 80%;
    
  }
  form {
    width: 80%;
  }
}

/* NOTBOOK PEQUENO */
@media only screen and (min-width: 992px) {
  #nav1{
    display: none;
  }
  .menu li > a {
    display: flex;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    align-items: center;
  }

  .sub{
    transform: translateX(-170%) translateY(55%);
  }

  .nav-toggle {
    display: none;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(-15%) translateY(5%);
  }
  .slogan p {
    margin: 10% 10%;
  }
  .slogan img {
    max-width: 340px;
    max-height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  form {
    width: 60%;
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}

/* NOTBOOK MEDIO */
@media only screen and (min-width: 1440px) {
  .sub{
    transform: translateX(-210%) translateY(55%);
  }
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    display: flex;
    align-items: center;
    margin-left: 25%;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    margin: 10% 15%;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  .logo img{
    width: 50%;
    height: 10%;
    
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
  form {
    width: 50%;
  }
}

@media only screen and (min-width: 1680px) {
  .sub{
    transform: translateX(-210%) translateY(55%);
  }
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 65%;
  }
  .slogan p {
    display: flex;
    margin: 15% 10%;
    align-items: flex-start;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  form {
    width: 40%;
  }
}

/* FULL HD*/

@media only screen and (min-width: 1920px) {
  nav {
    transform: translateY(100%);
  }
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    width: 40%;
    margin: 10% 10%;
  }
  .slogan img {
    width: 540px;
    height: 340px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
  form {
    width: 40%;
  }
}
