* {
  margin: 0;
  padding: 0;
  right: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 60px;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  position: fixed;
  transform: translateY(70%);
  border-radius: 15px;
  background: #444;
  transition: all 0.2s ease;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.sub {
  display: none;
  position: absolute;
  transform: translateX(-220%) translateY(55%);
}
ul {
  list-style: none;
  color: #141414;
}

#nav1 {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  flex-direction: column;
  align-items: center;

}

#nav1 li {
  display: flex;
  background-color: #fff;
  padding: 10px;
}
.menu a:hover {
  background: #db8708;
  border-radius: 10px;
}

.menu li {
  display: flex;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
  align-items: center;
}
.menu img {
  display: block;
}


#nav1 {
  display: none;
}

.nos {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  
}
.sub {
  display: none;
  background-color: #444;
  padding: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu.active + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
  color: #f16234;
}

#checkbox-menu.active  + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu.active  + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}


.decoracao {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  border-radius: 0px 0px 50px 50px;
  background: linear-gradient(90deg, #b55700 50%, #ffc700 100%);
}
.imagem_de_fundo {
  top: 0;
  background-image: url("../imagens/background-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0rem;
}
.slogan {
  color: #eee;
  width: 150%;
  display: flex;
  justify-content: flex-start;
}
.slogan p {
  display: flex;
  font-size: 46px;
  width: 150%;
  justify-content: flex-start;
  color: #141414;
}

.logo img {
  max-width: 540px;
  max-height: 340px;
}

.colored {
  /* background: #333; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  /* position: relative !important; */
  transform: translateY(5%);
}
section#serviços {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
  font-family: poppins;
}

section#serviços .titulo_serviço {
  color: #f34412;
}

section#serviços .subtitulo_serviço {
  margin: 2% 0%;
  color: #222;
}

section#serviços .titulo_cartao {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

section#serviços .subtitulo_cartao {
  font-size: 10px;
  margin: 0rem 3rem;
  text-align: center;
  color: #525252;
}

section#serviços .cartão-serviços {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

section#serviços .cartão-serviços .serviço_card {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
  font-size: 12px;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem {
  height: 50%;
  width: 100%;
  position: relative;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.serviço_card .serviço_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.serviço_card .serviço_conteudo .serviço_cartao button {
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.35rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
  font-family: poppins;
}

.serviço_card .serviço_conteudo .serviço_cartao button:hover {
  background: transparent;
  color: #ffc700;
  transform: scale(1.02);
}
.cartão-serviços .serviço_fundo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
.serviço_card {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.serviço_card:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.03);
}

#orcamento {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orcamento-imagem {
  height: 220px;
  width: 70%;
  background: linear-gradient(to top, #b45600 0%, #ffc700 100%);
  position: relative;
  border-radius: 15px;
}
.orcamento-imagem img {
  position: absolute;
  top: -27.5%;
  left: 5%;
}

.texto-orcamento {
  position: relative;
  display: flex;
  top: 8.5%;
  left: 45%;
  flex-wrap: wrap;
  height: 90%;
  width: 50%;
  font-family: poppins;
}

.titulo-orcamento {
  position: relative;
  font-size: 26px;
  color: #ededed;
}

.subtitulo-orcamento {
  position: relative;
  font-size: 18px;
  color: #ededed;
  height: 30%;
  width: 100%;
}
.texto-orcamento button {
  height: 15%;
  width: 40%;
  font-size: 18px;
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.1rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}
.texto-orcamento button:hover {
  background: white;
  color: #ffc700;
  transform: scale(1.02);
}

#menu-baixo {
  height: 450px;
  width: 100%;
  display: flex;
  background-color: #1e1e1e;
  color: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.logo-rodape {
  display: flex;
}

.sobre .container-sobre {
  display: flex;
}
.container {
  display: flex;
}
.menu-links {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

.menu-links ul {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.menu-links ul a {
  color: #fff;
  text-decoration: none;
}

.titulo-rodape {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: none;
  align-items: center;
  flex-wrap: nowrap;
}
.titulo-rodape ul {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
}
/* responsivo */

/* Celular */
@media only screen and (max-width: 550px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 nav {
    position: absolute;
    justify-content: space-around;
  }
  .menu .servico {
    display: none;
  }
  .menu li > a {
    display: none;
  }

  #nav1 {
    width: 20%;
    height: 36px;
    display: flex;
    align-items:self-end;
  }

 

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
     overflow-y: visible;


  }



  #menu{
    margin-top: 40px;
    transform: translateX(30%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #444;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

 #menu li {
  background: #fff;
 }
  

  #header .logo img {
    max-width: 100%;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    height: 40vh;
    flex-direction: column-reverse;
    margin-top: 15%;
    margin-left: -5%;
    justify-content: center;
    align-items: center;
  }

  .slogan p {
    width: 50%;
    font-size: 24px;
    margin-top: 5px;
  }

  .slogan img {
    width: 60%;
    border-radius: 15px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
  #orcamento {
    width: 100%;
    height: 70vh;
    display: flex;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 80%;
    height: 70%;
    /* justify-content: center; */
    flex-direction: column;
  }
  #orcamento .orcamento-imagem img {
    position: absolute;
    max-width: 280px;
    height: 200px;
    transform: translateY(30%) translateX(1%);
    display: none;
  }
  #orcamento .orcamento-imagem.texto-orcamento {
    display: flex;
    justify-content: center;
  }

  .texto-orcamento {
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%) translateY(-10%);
  }
  .texto-orcamento button {
    margin-top: 100px;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 550px) {
  .menu .servico {
    display: none;
  }
  .menu li > a {
    display: none;
  }

  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(20%) translateY(80%);
  }

  .slogan img {
    max-width: 320px;
  }

  .logo img {
    width: 70%;
    height: 80%;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 90%;
  }
  #orcamento .orcamento-imagem img {
    transform: translateX(-5%);
  }
}
/* NOTBOOK PEQUENO */
@media only screen and (min-width: 992px) {
  .menu .servico {
    display: flex;
    padding: 0.5rem 1rem;
    color: rgb(68, 68, 68);
    text-decoration: none;
    align-items: center;
    cursor: pointer;
  }
  .menu li > a {
    display: flex;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    align-items: center;
  }

  .sub{
    transform: translateX(-180%) translateY(55%);
  }

  .nav-toggle {
    display: none;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(-15%) translateY(5%);
  }
  .slogan p {
    margin: 10% 10%;
  }

  .slogan img {
    max-width: 340px;
    max-height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 55%;
  }
  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}
/* NOTBOOK MEDIO */
@media only screen and (min-width: 1440px) {
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    display: flex;
    align-items: center;
    margin-left: 25%;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    margin: 10% 15%;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
  .logo img {
    width: 50%;
    height: 10%;
  }
}

@media only screen and (min-width: 1680px) {
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 65%;
  }
  .slogan p {
    display: flex;
    margin: 15% 10%;
    align-items: flex-start;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
}

/* FULL HD*/

@media only screen and (min-width: 1920px) {
  nav {
    transform: translateY(100%);
  }
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    width: 40%;
    margin: 10% 10%;
  }
  .slogan img {
    width: 540px;
    height: 340px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }

  section#container-cliente .portifolio-cliente {
    width: 100%;
    height: 100%;
    display: flex;
  }
  section#container-cliente .portifolio-cliente .cliente {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}
