* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TESTE*/

nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu a:hover {
  background: #db8708;
  border-radius: 10px;
}

.menu li > a {
  display: flex;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
  align-items: center;
}
.menu img {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 60px;
  padding: 1rem;
  display: flex;
  z-index: 100;
  transform: translateY(70%);
  border-radius: 15px;
  /* margin-top: 2%; */
  background: #f4f4f4;
  transition: all 0.2s ease;
}

.nav-toggle {
  display: none;
}
.decoracao {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  /* transform: translateY(-565%); */
  /* align-content: flex-start; */
  /* align-items: flex-start; */
  border-radius: 0px 0px 50px 50px;
  background: linear-gradient(90deg, #b55700 50%, #ffc700 100%);
}
.imagem_de_fundo {
  top: 0;
  background-image: url("../imagens/background-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0rem;
}
.slogan {
  color: #eee;
  width: 150%;
  display: flex;
  justify-content: flex-start;
}
.slogan p {
  display: flex;
  font-size: 46px;
  width: 150%;
  justify-content: flex-start;
  color: #141414;
}

.logo img {
  width: 350px;
  height: 50px;
  /* flex-shrink: 0;  */
  /* -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;  */
}
/* .logo:hover img{
    -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
   */
.colored {
  /* background: #333; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  /* position: relative !important; */
  transform: translateY(5%);
}
section#serviços {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
  font-family: poppins;
}

section#serviços .titulo_serviço {
  height: 10vh;
  font-size: 10px;
  color: #f34412;
}

section#serviços .subtitulo_serviço {
  height: 10vh;
  font-size: 40px;
  color: #222;
}

section#serviços .titulo_cartao {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

section#serviços .subtitulo_cartao {
  font-size: 10px;
  margin: 0rem 3rem;
  text-align: center;
  color: #525252;
}

section#serviços .cartão-serviços {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

section#serviços .cartão-serviços .serviço_card {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
  font-size: 12px;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem {
  height: 50%;
  width: 100%;
  position: relative;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.serviço_card .serviço_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.serviço_card .serviço_conteudo .serviço_cartao button {
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.35rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
  font-family: poppins;
}

.serviço_card .serviço_conteudo .serviço_cartao button:hover {
  background: transparent;
  color: #ffc700;
  transform: scale(1.02);
}
.cartão-serviços .serviço_fundo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
.serviço_card {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.serviço_card:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.03);
}

#orcamento {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orcamento-imagem {
  height: 220px;
  width: 70%;
  background: linear-gradient(to top, #b45600 0%, #ffc700 100%);
  position: relative;
  border-radius: 15px;
}
.orcamento-imagem img {
  position: absolute;
  top: -27.5%;
  left: 5%;
}

.texto-orcamento {
  position: relative;
  display: flex;
  top: 8.5%;
  left: 45%;
  flex-wrap: wrap;
  height: 90%;
  width: 50%;
  font-family: poppins;
}

.titulo-orcamento {
  position: relative;
  font-size: 26px;
  color: #ededed;
}

.subtitulo-orcamento {
  position: relative;
  font-size: 18px;
  color: #ededed;
  height: 30%;
  width: 100%;
}
.texto-orcamento button {
  height: 15%;
  width: 40%;
  font-size: 18px;
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.1rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}
.texto-orcamento button:hover {
  background: white;
  color: #ffc700;
  transform: scale(1.02);
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu a:hover {
  background: #db8708;
  border-radius: 10px;
}

.menu li > a {
  display: flex;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
  align-items: center;
}
/* .menu img{
    display: block;
  } */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 60px;
  padding: 1rem;
  display: flex;
  z-index: 100;
  transform: translateY(70%);
  border-radius: 15px;
  /* margin-top: 2%; */
  background: #f4f4f4;
  transition: all 0.2s ease;
}

.nav-toggle {
  display: none;
}
.decoracao {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  /* transform: translateY(-565%); */
  /* align-content: flex-start; */
  /* align-items: flex-start; */
  border-radius: 0px 0px 50px 50px;
  background: linear-gradient(90deg, #b55700 50%, #ffc700 100%);
}
.imagem_de_fundo {
  top: 0;
  background-image: url("../imagens/background-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 70vh;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 0rem;
}
.slogan {
  color: #eee;
  width: 150%;
  display: flex;
  justify-content: flex-start;
}
.slogan p {
  display: flex;
  font-size: 46px;
  width: 150%;
  justify-content: flex-start;
  color: #141414;
}

.logo img {
  width: 350px;
  height: 50px;
  flex-shrink: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.logo:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.colored {
  /* background: #333; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  /* position: relative !important; */
  transform: translateY(5%);
}
section#serviços {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
  font-family: poppins;
}

section#serviços .titulo_serviço {
  height: 10vh;
  font-size: 10px;
  color: #f34412;
}

section#serviços .subtitulo_serviço {
  height: 10vh;
  font-size: 40px;
  color: #222;
}

section#serviços .titulo_cartao {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

section#serviços .subtitulo_cartao {
  font-size: 10px;
  margin: 0rem 3rem;
  text-align: center;
  color: #525252;
}

section#serviços .cartão-serviços {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

section#serviços .cartão-serviços .serviço_card {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
  font-size: 12px;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem {
  height: 50%;
  width: 100%;
  position: relative;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.serviço_card .serviço_conteudo {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.serviço_card .serviço_conteudo .serviço_cartao button {
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.35rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
  font-family: poppins;
}

.serviço_card .serviço_conteudo .serviço_cartao button:hover {
  background: transparent;
  color: #ffc700;
  transform: scale(1.02);
}
.cartão-serviços .serviço_fundo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
.serviço_card {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.serviço_card:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.03);
}

#orcamento {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orcamento-imagem {
  height: 220px;
  width: 70%;
  background: linear-gradient(to top, #b45600 0%, #ffc700 100%);
  position: relative;
  border-radius: 15px;
}
.orcamento-imagem img {
  position: absolute;
  top: -27.5%;
  left: 5%;
}

.texto-orcamento {
  position: relative;
  display: flex;
  top: 8.5%;
  left: 45%;
  flex-wrap: wrap;
  height: 90%;
  width: 50%;
  font-family: poppins;
}

.titulo-orcamento {
  position: relative;
  font-size: 26px;
  color: #ededed;
}

.subtitulo-orcamento {
  position: relative;
  font-size: 18px;
  color: #ededed;
  height: 30%;
  width: 100%;
}
.texto-orcamento button {
  height: 15%;
  width: 40%;
  font-size: 18px;
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.1rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}
.texto-orcamento button:hover {
  background: white;
  color: #ffc700;
  transform: scale(1.02);
}

.sobre {
  display: flex;
}

.container-sobre {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-sobre img {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.sobre .txt-sobre {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #db8708;
}

.sobre .txt-sobre h2 {
  width: 100%;
  display: flex;
  color: #db8708;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sobre .txt-sobre p {
  width: 100%;
  display: flex;
  text-align: justify;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.paragrafo3 {
  width: 98%;
  margin-left: 2%;
  margin-top: 10px;
  color: #db8708;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sobre .txt-sobre p span {
  font-weight: bold;
}
section#container-cliente {
  height: fit-content;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
  align-items: center;
  background: #f4f4f4;
}

.portifolio-cliente {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 24px;
  padding: 60px;
  margin-top: 100px;
  background-color: #f4f4f4;
  color: #db8708;
}

.cliente {
  display: flex;
  height: 400px;
  width: 40vh;
  margin-bottom: auto;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
}

.cliente .imagem-cliente {
  height: 200px;
  width: 100%;
}

.cliente .imagem-cliente img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.titulo-cliente {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  color: #db8708;
}

.cliente .botao {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cliente .botao button {
  border: 2px solid #db8708;
  display: block;
  outline: none;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
  background: #db8708;
  color: #eee;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

.cliente .botao button:hover {
  background: transparent;
  color: #5177ff;
  transform: scale(1.02);
}
#menu-baixo {
  height: 450px;
  width: 100%;
  display: flex;
  background-color: #1e1e1e;
  color: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.logo-rodape {
  display: flex;
}

.sobre .container-sobre {
  display: flex;
}
.container {
  display: flex;
}
.menu-links {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

.menu-links ul {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.menu-links ul a {
  color: #fff;
  text-decoration: none;
}

.titulo-rodape {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: none;
  align-items: center;
  flex-wrap: nowrap;
}
.titulo-rodape ul {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
}
/* responsivo */

/* Celular */
@media only screen and (max-width: 550px) {
  nav{
    width: 85%;
  }
  .menu li > a {
    display: none;
  }

  .nav-toggle svg {
    width: 32px;
    height: 32px;
  }

  .nav-toggle {
    display: block;
  }
  #header .logo img {
    max-width: 80%;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    height: 40vh;
    flex-direction: column-reverse;
     margin-top: 15%;
     margin-left: -5%;
    justify-content: center;
    align-items: center;
  }

  .slogan p {
    width: 50% ;
    font-size: 24px;
    margin-top: 5px;
  }

  .slogan img {
    width: 50%;
    border-radius: 15px;
  }
  #orcamento {
    width: 100%;
    height: 70vh;
    display: flex;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 80%;
    height: 80%;
    /* justify-content: center; */
    flex-direction: column;
  }
  #orcamento .orcamento-imagem img {
    max-width: 350px;
    height: 220px;
    transform: translateY(30%) translateX(15%);
    /* display: none; */
  }
  #orcamento .orcamento-imagem.texto-orcamento {
    display: flex;
    justify-content: center;
  }

  .texto-orcamento {
    flex-direction: column;
    justify-content: center;
    transform: translateX(-30%) translateY(15%);
  }
  .texto-orcamento button {
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 550px) {
  .menu li > a {
    display: none;
  }
  .nav-toggle svg {
    width: 32px;
    height: 32px;
  }

  .nav-toggle {
    display: block;
  }

  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(20%) translateY(80%);
  }

  .slogan img {
    max-width: 320px;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 90%;
  }
  #orcamento .orcamento-imagem img {
    transform: translateX(-5%);
  }
}
/* NOTBOOK PEQUENO */
@media only screen and (min-width: 992px) {
  .menu li > a {
    display: flex;
    padding: 0.5rem 1rem;
    color: #444;
    text-decoration: none;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
    gap: 20px;
    transform: translateX(-15%) translateY(5%);
  }
  .slogan p {
    margin: 10% 10%;
  }
  .slogan img {
    max-width: 340px;
    max-height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
  #orcamento .orcamento-imagem {
    display: flex;
    width: 55%;
  }
  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}
/* NOTBOOK MEDIO */
@media only screen and (min-width: 1440px) {
  .slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
  }

  .container-slogan {
    display: flex;
    justify-content: center;
  }
  .slogan {
    display: flex;
    align-items: center;
    margin-left: 25%;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    margin: 10% 15%;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1680px) {
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 65%;
  }
  .slogan p {
    display: flex;
    margin: 15% 10%;
    align-items: flex-start;
  }
  .slogan img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }
}

/* FULL HD*/

@media only screen and (min-width: 1920px) {
  nav {
    transform: translateY(100%);
  }
  .container-slogan {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slogan {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #eee;
    width: 100%;
  }
  .slogan p {
    width: 40%;
    margin: 10% 10%;
  }
  .slogan img {
    width: 540px;
    height: 340px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 15px;
  }

  section#serviços .titulo_serviço {
    height: 10vh;
    font-size: 40px;
    color: #f34412;
  }

  section#container-cliente .portifolio-cliente {
    width: 100%;
    height: 100%;
    display: flex;
  }
  section#container-cliente .portifolio-cliente .cliente {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section#menu-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu-links {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .titulo-rodape {
    display: flex;

    justify-content: flex-end;
  }
}
