* {
  margin: 0;
  padding: 0;
  right: 0;
  box-sizing: border-box; 
}

nav {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 60px;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  transform: translateY(70%);
  border-radius: 15px;
  background: #444;
  transition: all 0.2s ease;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.sub {
  display: none;
  position: absolute;
  transform: translateX(-155%) translateY(0%);
  display: none;
  background-color: #444;
  padding: 10px;
}

ul {
  list-style: none;
  color: #141414;
}

#nav1 {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

#nav1 li {
  display: flex;
  background-color: #fff;
  padding: 10px;
}

.menu a:hover {
  background: #db8708;
  border-radius: 10px;
}

.hidden {
  opacity: 0;
  transform: translateX(-50%);
  filter: blur(5px);
  transition: 0.5s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
  filter:blur(0px);
}

.menu li > a {
  display: flex;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-family: "Poppins";
  }

.menu li {
  padding: 0.5rem 1rem; 
}

.menu img {
  display: block;
}

.menu .servico:hover i{
  transform: rotate(180deg);
}

.menu .servico i{
  transition: all 0.3s ease;
}

#nav1 {
  display: none;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  display: block;
  height: 22px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 40px;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu.active + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
  color: #f16234;
}

#checkbox-menu.active  + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu.active  + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

.decoracao {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  border-radius: 0px 0px 50px 50px;
  background: linear-gradient(90deg, #b55700 50%, #ffc700 100%);
}

.imagem_de_fundo {
  top: 0;
  background-image: url("../imagens/background-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem;
}

.slogan {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
  gap: 10%;
}

.slogan p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  width: 30%;
  color: #444;
}

.slogan img{
  width: 300px;
  border-radius: 10px;
}

.logo img {
  width: 350px;
}

#header .logo img {
  max-width: 100%;
}

.colored {
  transform: translateY(5%);
}

/*-----------------------------------------------*/

section#serviços {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
  font-family: poppins;
}

section#serviços .titulo_serviço {
  color: rgba(236, 111, 75, 0.84);
  text-align: center;
}

section#serviços .subtitulo_serviço {
  margin: 2% 0%;
  color: #222;
}

section#serviços .titulo_cartao {
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

section#serviços .subtitulo_cartao {
  font-size: 10px;
  margin: 0rem 3rem;
  text-align: center;
  color: #525252;
}

section#serviços .cartão-serviços {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

section#serviços .cartão-serviços .serviço_card {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
  font-size: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem {
  height: 50%;
  width: 100%;
  position: relative;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.serviço_card .serviço_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.serviço_card .serviço_conteudo .serviço_cartao button {
  border: 2px solid #ffc700;
  outline: none;
  padding: 0.35rem 1.5rem;
  font-size: 17px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
  font-family: poppins;
}

.serviço_card .serviço_conteudo .serviço_cartao button:hover {
  background: transparent;
  color: #ffc700;
  transform: scale(1.02);
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #72601f;
}
a:hover{
  color: #ffc700;
  
}


.cartão-serviços .serviço_fundo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

.serviço_card {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.serviço_card:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.03);
}

#orcamento {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 5%;
}

.orcamento {
  transition-delay: 6ms;
}

.texto-botao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.orcamento-elementos {
  height: 220px;
  width: 800px;
  background: linear-gradient(to top, #b45600 0%, #ffc700 100%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  
}

.orcamento-elementos img {
  margin-bottom: 12.5%;
  width: 265px;
}

#texto {
  font-family: poppins;
  padding: 0% 5%;
}

.titulo-orcamento {
  font-size: 26px;
  color: #ededed;
}

.subtitulo-orcamento {
  position: relative;
  font-size: 18px;
  color: #ededed;
  padding: 3% 0%;
}

#botao button {
  height: 40px;
  width: 120px;
  font-size: 18px;
  border: 2px solid #ffc700;
  outline: none;
  font-size: 20px;
  background: #ffc700;
  color: #72601f;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

#botao button:hover {
  background: white;
  color: #ffc700;
  transform: scale(1.02);
  cursor: pointer;
} 


#FAQ {
  color: #925c27;
  /*min-height: 100vh;*/
  width: 80%;
  padding-bottom: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleFAQ {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.perguntasFrequentes {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #925c27;
  cursor: pointer;
}

.pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pergunta h3 {
  font-size: 1.5rem;
}

.resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.resposta p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #333;
}

.perguntasFrequentes.active .resposta {
  max-height: 300px;
}

.seta {
  transition: transform 0.3s ease;
  margin-left: 10px; 
}

.perguntasFrequentes.active .seta {
  transform: rotate(180deg);
}

/*-----------------------------------------------*/

#menu-baixo{
  height: 250px;
  width: 100%;
  display: flex;
  background-color: #1e1e1e;
  color: #fff;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.logo-rodape{
  display: flex;
  margin-top: 20px;
}

.sobre .container-sobre{
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

.menu-links {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;    
}

.menu-links ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu-links ul a{
  color: #fff; 
  text-decoration: none; 
}

.titulo-rodape{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: none;
  align-items: center;
  flex-wrap: nowrap;
}

.titulo-rodape ul{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .rodape{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  
}

/*-----------------------------------------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  
  .menu .servico {
    display: none;
  }

  .menu li > a {
    display: none;
  }

  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  #nav1 {
    width: 20%;
    height: 36px;
    display: flex;
    transform: translateX(180%) translateY(50%);
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: visible;
  }

  #menu{
    margin-top: 22px;
    transform: translateX(-17%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menu li {
    background: #444;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
  }

  .slogan img {
    width: 200px;
    padding-bottom: 15px;
  }

  .slogan p {
    width: 50%;
    font-size: 18px;
    text-align: center;
  }

  .orcamento-elementos img {
    display: none;
  }

  .titulo-orcamento{
    font-size: 21px;
  }

  .subtitulo-orcamento{
    text-align: center;
    font-size: 15px;
  }

  #texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    margin: 0px 10px;
  }

  #botao{
    display: flex;
    justify-content: center;
  }

  #botao button{
    background-color: #ffc700;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 1.5%;
  }

  .accordion {
    width: 102%;
  }

  .accordion .content  {
    width: 300px;
  }

  .container i {
    position: absolute;
  }

  .container.active i{
    /* position: absolute; */
    transition: all 0.3s ease;
    
  }
   .accordion .container {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

  } 

  .accordion .label {
    /* margin-left: 200px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }

  #menu-baixo{
    height: 450px;
    width: 100%;
    display: flex;
    background-color: #1e1e1e;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}

/*-----------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 767.9px) {

  .logo img {
    width: 250px;
  }

  .menu .servico {
    display: none;
  }

  .menu li > a {
    display: none;
  }

  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  #nav1 {
    width: 20%;
    height: 36px;
    display: flex;
    transform: translateX(180%) translateY(50%);
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: visible;
  }

  #menu{
    margin-top: 22px;
    transform: translateX(-17%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menu li {
    background: #444;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 11%;
    justify-content: center;
    align-items: center;
  }

  .slogan img {
    width: 200px;
    padding-bottom: 20px;
  }

  .slogan p {
    width: 50%;
    font-size: 18px;
    text-align: center;
  }

  .orcamento-elementos img {
    display: none;
    width: 90%;
  }

  .subtitulo-orcamento{
    text-align: center;
    font-size: 20px;
  }

  #texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    margin: 0px 10px;
  }

  #botao{
    display: flex;
    justify-content: center;
    
  }

  #botao button{
    background-color: #ffc700;
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }

  #menu-baixo{
      height: 450px;
      width: 100%;
      display: flex;
      background-color: #1e1e1e;
      color: #fff;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
}

/*-----------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .logo img {
    width: 300px;
  }

  .menu .servico {
    display: none;
  }

  .menu li > a {
    display: none;
  }

  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  #nav1 {
    width: 20%;
    height: 36px;
    display: flex;
    transform: translateX(180%) translateY(50%);
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: visible;
  }

  #menu{
    margin-top: 22px;
    transform: translateX(-17%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menu li {
    background: #444;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    margin-top: 9%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .slogan img {
    width: 250px;
  }

  .slogan p {
    font-size: 25px;
    text-align: left;
  }

  #menu-baixo{
    height: 450px;
    width: 100%;
    display: flex;
    background-color: #1e1e1e;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}

  /*-----------------------------------------------*/

@media only screen and (min-width: 1281px){

  .logo img {
    width: 300px;
  }

  .logo-rodape{
    margin-top: 20px;
  }

  .nav-toggle {
    width: 10%;
    height: 24px;
    display: flex;
  }

  #nav1.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: visible;
  }

  #menu{
    margin-top: 22px;
    transform: translateX(-17%);
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    text-decoration: none;
  }

  #checkbox-menu label{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menu li {
    background: #444;
  }

  .imagem_de_fundo {
    width: 100%;
    display: flex;
  }

  .slogan {
    width: 100%;
    margin-top: 9%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .slogan img {
    width: 350px;
  }

  .slogan p {
    font-size: 36px;
    text-align: left;
  }
  
}